* {margin:0;padding:0;}
*, *:before, *:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.container{width:100%; margin:auto; padding:10px;}
.clearfix:before, .clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

html{}

body{
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

h1,h2,h3,h4,h5,h6{
    font-weight:500;
    padding-top:24px; padding-bottom:8px;
}

h1{font-size:32px; line-height:32px;}
h2{font-size:28px; line-height:32px;}
h3{font-size:24px;line-height:24px;}
h4{font-size:20px;line-height:24px;}
h5{font-size:16px;line-height:24px;}
h6{font-size:16px;line-height:24px;}

/*p, ul, ol, blockqoute img*/
p{padding-bottom: 8px;}
ul{padding-bottom: 8px; padding-left: 24px;}
ol{padding-bottom: 8px; padding-left: 24px;}
blockquote{padding-top: 8px; padding-left: 24px; font-style:italic; border-left: 3px solid #aaa;}
img{padding-top:24px; padding-bottom:24px; width:100%}

pre {border: 1px solid #aaa; padding:24px; margin-bottom:24px;}
pre code{width:100%; white-space: pre-wrap;}

@media (min-width: 800px) {
    .zweiDrittel{width:66%; float:left; padding:20px;}
    .einDrittel{width:33%; float:left; padding:20px;}
    .full{width:100%; float:left; padding:20px;}

}

@media (max-width: 799px) {
    .zweiDrittel{width:100%; float:left; padding:20px;}
    .einDrittel{width:100%; float:left; padding:20px;}
    .full{width:100%; float:left; padding:20px;}
    .tocTitle{display:none}
}


.link{cursor:pointer;}
.link:hover{text-decoration:underline}
.content{display:none;}
#download{margin-top:10px;}

/*menu*/
.toc{padding:0px; margin:0px;}
.nav-toggle{color:#000; text-decoration:none; }
.nav-toggle:hover{text-decoration:none}
